.ant-tabs-nav {
  max-width: max-content;
  align-self: center !important;
}
@media only screen and (max-width: 900px) {
  .ant-tabs-nav {
    align-self: normal !important;
  }
}

.ant-tabs-nav-operations {
  display: flex !important;
}
